:root {
  --sl-color-accent-low: #4a1d08;
  --sl-color-accent: #fb923c;
  --sl-color-accent-high: #fed7aa;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #ffedd5;
  --sl-color-accent: #c2410c;
  --sl-color-accent-high: #7c2d12;
}
