---
import { Image } from 'astro:assets';
import icon from '../assets/icon.png';
---

<header class="site-header">
  <a class="brand" href="/">
    <Image src={icon} alt="" width={32} height={32} />
    <span>Sealshot</span>
  </a>
  <nav>
    <a href="/#features">Features</a>
    <a href="/docs/">Docs</a>
    <a href="/support/">Support</a>
    <a class="cta" href="/download/">Download</a>
  </nav>
</header>
